<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" shutdownHook="disable">

	<appenders>
		<file name="fileAppender" fileName="${sys:user.home}/StockMarket/Log/StockMarketLog.csv"
			append="false">
			<patternlayout>
				<pattern>%n%p,%r,%t,%c,\"%m\",%throwable</pattern>
				<header>Level,Timestamp,Thread,Logger,Message (Expand Cell for Stack Trace),Exception</header>
			</patternlayout>
		</file>
		<!-- Console Appender is here for temporary use for debugging the logger when necessary -->
		<console name="consoleAppender">
			<patternlayout>
				<pattern>%n%p %throwable</pattern>
			</patternlayout>
		</console>
		<async name="asyncAppender">
			<appender-ref ref="fileAppender"/>
		</async>
	</appenders>
	
	
	<loggers>
		<root level="debug">
			<appender-ref ref="asyncAppender"/>
		</root>
		<logger name="org.hibernate"/>
		<logger name="org.jboss.logger"/>
		<logger name="org.springframework.beans"/>
		<logger name="org.springframework.context"/>
		<logger name="org.springframework.core"/>
	</loggers>
</Configuration>